h1 {
    font-family: 'Frijole', cursive;
    color: #8872C4;
    margin-bottom: -30px;
}

h2 {
    font-family: 'Frijole', cursive;
    color: white;
    font-size: 30px;
    margin-bottom: -20px;
}

h3 {
    font-family: 'Frijole', cursive;
    color: white;
    font-size: 19px;
    text-align: center;
}

p {
    font-family: Baskerville;
    color: white
}

span {
    font-weight: bold;
}

.mainBox {
    position: relative;
    top: 80px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 70px;
    padding-left: 60px;
    padding-right: 60px;
}

.beetleHead {
    height: 600px;
}

.mainText {
    text-align: center;
    padding-left: 40px;
}

.mainHeading {
    align-items: center;
}

.mainPoints {
    flex-direction: column;
    text-align: left;
    font-family: 'Frijole', cursive;
    color: white;
    list-style-type: none;
    margin-top: 20px;
}

.mainText img {
    height: 200px
}

.aboutBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #353639;
    width: 100vw;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.aboutText {
    max-width: 900px;
    padding-left: 60px;
    padding-right: 60px;
}

.aboutText h2 {
    text-align: center;
}

.resumeBox {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
}

.resumeBox h2 {
    text-align: center;
}

.skillBox {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.edu, .skills {
    max-width: 400px;
}

.skills {
    padding-left: 30px;
}

.skillBox ul {
    font-family: Baskerville;
    color: white;
}

